.swiper-button-prev {
    visibility: visible !important;
    color: rgb(255, 72, 0) !important;
    left: 90px !important;
    transform: scale(.9) !important;
}

.swiper-button-next {
    color: rgb(255, 72, 0) !important;
    right: -50px !important;
    transform: scale(.9) !important;
}
.comics img {
    box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
}

.comics a:hover {
    color: orange;
    transition: ease-in-out 200ms;
}

.comics img:hover {
    transform: translateY(-12px);
    transition: ease-in-out 250ms;
}