@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
  font-family:'Roboto Condensed', "Trebuchet MS",Helvetica,Arial,sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}